@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'poor richard';
    src: url('/Assets/FONT/PoorRichardOpti.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* navbar */

.navbar {
    font-family: poppins;
    background-color: #533914;
}

.navbar-kopium {
    z-index: 100;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.nav {
    padding-top: 50px;
    font-weight: 800;
}

.nav a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.nav a:hover {
    color: #e2b06b;
    transition: 0.3s ease-in-out;
}

/* menu */

.menu-nav {
    font-family: poppins;
    text-align: center;
    background-color: #533914;
    padding-bottom: 50px;
}

.judul {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center; 
    color: #e2b06b;  
}

.judul2 {
    padding-left: 20px;
}

.menu-kategori {
    margin-top: 60px;
    align-items: center;
}

.tab {
    margin-left: 20px;
    border: solid;
    background-color: #533914;
    color: white;
    padding: 30px;
    border-radius: 80px;
    border-color: #e2b06b;
    font-weight: 800;
}

.tab:hover {
    background-color: antiquewhite;
    border-color: #533914;
    color: #e2b06b;
    transition: 0.3s ease-in-out;
}